# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**


!*.txt
!*.md
!*.jpg
!key.png
!keyPressed.png
!HappyBirthday.mid

# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
